<form [formGroup]="ticketForm" (ngSubmit)='createticket()' method="POST" (added)="gettickets()" class="createticket form-group" ngNativeValidate>
  <input type="text" id="Issue" class="createticketinput form-control col-3" name="Issue" placeholder="Issue" formControlName="Issue" required>
  <input type="text" id="Location" class="createticketinput form-control col-2" name="Location" placeholder="Location" formControlName="Location" required>
  <input type="text" id="User_ID" class="createticketinput form-control col-1" name="User_ID" placeholder="User ID" formControlName="User_ID" required>
  <button type="submit" class="btn btn-success createticketinput" value="Submit Ticket">Submit</button>
  <div *ngIf="ticketForm?.errors">
      Name is required.
  </div>
</form>
<div class ="table-responsive" id="sailorTableArea">
  <table id="sailorTable" class="table table-striped table-bordered" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Issue</th>
        <th>Location</th>
        <th>Date</th>
        <th>User ID</th>
      </tr>
    </thead>
    <tbody >
        <tr class="ticketdata" *ngFor="let ticket of tickets">
          <td class="ticketdata">
            <a id='editticket' (click)="EditTicket=true;tickettoedit=ticket;editticket();">{{ticket._id}}</a>
          </td>
          <td class="ticketdata">{{ ticket.Issue }}</td>
          <td class="ticketdata">{{ ticket.Location }}</td>
          <td class="ticketdata">{{ ticket.Date | date:'short' }}</td>
          <td class="ticketdata">{{ ticket.User_ID }}</td>
        </tr>
    </tbody>
  </table>
</div>  
<div class="ticketeditor" *ngIf='iseditticket()'>
  <i class="fas fa-times fa-3x" id="exit" (click)="EditTicket=false;"></i>
  <form [formGroup]="editTicketForm" (ngSubmit)='submitedit()' method="POST" (added)="gettickets($event)" class="ticketForm" ngNativeValidate>
      <label for="Issue">Issue: </label>
      <input type="text" id="Issue" class="formdata" name="Issue" placeholder="Issue" formControlName="Issue" required>
      <label for="Location">Location: </label>
      <input type="text" id="Location" class="formdata" name="Location" placeholder="Location" formControlName="Location" required>
      <label for="Date">Date: </label>
      <input type="datetime-local" id="Date" class="formdata" name="Date" placeholder="Date" formControlName="Date" required>
      <label for="User_ID">User ID: </label>
      <input type="text" id="User_ID" class="formdata" name="User_ID" placeholder="User ID" formControlName="User_ID" required>
      <button type="submit" class="btn btn-success Edit" value="Submit Ticket">Edit</button>
      <button type="button" class="btn btn-danger Edit" value="Delete Ticket" (click)='deleteticket()'>Delete Ticket</button>
  </form>
</div>
