<div class="background">
    <div class="aboutme flexbox">
        <h3>Welcome to my Homepage</h3>
        
        <h6>Q: Who Am I?</h6>
        <P>A: Here is a little about me. I decided to write a super long prargraph here 
        to test out how having a lot of text on the page would look. I want to see just how I can space out these elements to make as 
        responsive a design as possible</P>
        
        <h6>Q: What is this project?</h6>
        <P>A: This is a super basic CRUD web application build with Angular and Node using the "MEAN" stack</P>

        <h6>Q: Can I give you feedback?</h6>
        <P>A: Yes! I know this site sucks. Please send feedback to: <a href="mailto:jaredana@pdx.edu">jaredana@pdx.edu</a></P>
    </div>

    <div class="techused flexbox">
        <h3>Technology used</h3>
        <ul>
            <li>Angular</li>
            <li>MongoDB</li>
            <li>Express JS</li>
            <li>Node</li>
            <li>Body Parser</li>
            <li>Cookie Parser</li>
        </ul>
    </div>

    <div class="learned flexbox">
        <h3>What I learned during this project</h3>
        <p>
            This project took me quite some time considering I had never touched much web app development prior to making this besides a touch of Python's Django<br>
            All in all, this project took me about 3-4 weeks of development time with around 10hrs of dedicated development time per week
        </p>
        <p>I'll go ahead and do my best to break down my forray into these technologies and describe my thought and issues with each one</p>
        <h5>Angular</h5>
        <h6>Components:</h6>
        <p>
                One of the things I found the most interesting about development with angular is the use of components to handle views. <br>
            This was one of the most stark contrasts between development in Django and development in Angular for me. I particularly liked Angulars design philopsophy<br>
            a bit more because it felt more compartmentalized and abstracted. My data fetching belonged to my service, my component held that data and displayed it in the view<br>
            to me, this is an extremely simple and powerful way to develop apps like this because it keeps even developers with as little experience as me from writing complete<br>
            spaghetti code.
        </p>
        <h6>Services:</h6>
    </div>
</div>